<section style="height: 100%; width: 100%;">
  <ng-container >
    <entity-management
      design-system-prefix="rapid"
      header-case-type="capitalCase"
      enable-row-flashing
      enable-cell-flashing
      resourceName="ALL_ORDERS"
      [createEvent]="hasUserPermission('') ? 'EVENT_ORDER_INSERT' : undefined"
      [createFormUiSchema]="createFormSchema"
      [updateEvent]="hasUserPermission('') ? 'EVENT_ORDER_MODIFY' : undefined"
      [updateFormUiSchema]="updateFormSchema"
      entityLabel="Order"
      [columns]="columnDefs"
      modal-position="centre"
      size-columns-to-fit
    ></entity-management>
  </ng-container>
</section>
